@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name {
    color: hotpink;
    font-weight: 700;
    border-bottom: 10px purple dotted;
}

.role {
    color: #969191;
    font-weight: 600;
    font-size: 18px;
}

.text {
    color: #444242;
    font-size: 20px;
}

.contact {
    font-style: italic;
    font-size: 30px;
    color: #333232;
}

.contact-info {
    width: 500px;
    background-color: #fdf8f8;
    border: 5px solid purple;
}

.contact-info ul {
    font-size: 20px;
    color: #444242;
}